*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: 	#B0C4DE;
    animation: BodyAnimation 10s ease-in-out infinite;
}

@keyframes BodyAnimation {
    0%{background-color: #FFFFFFFF;}
    50%{background-color: #ffffff;}
    100%{background-color: #FFFFFFFF}
}

img {
    margin-right: 25px;
    border: solid 2px black;
    box-shadow: none;
    transition: 0.3s;
}

img:hover{
    box-shadow: 13px 13px 11px #888888;
    
}